In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("50_Startups.csv")
dataset

     R &D spend  Administration  Marketing spend       State     Profit
0   165349.2162       136897.80         471784.10  new york   192261.83
1   162597.7000       151377.59         443898.53  califomia  191792.06
2   153441.5100       101145.55         407934.54    florida  191050.39
3   144372.4100       118671.85         383199.62  new york   182901.99
4   142107.3400        91391.77         366168.42    florida  166187.94
5   131876.9000        99814.71         362861.36  new york   156991.12
6   134615.4600       147198.87         127716.82  califomia  156122.51
7   130298.1300       145530.06         323876.68    florida  155752.60
8   120542.5200       148718.95         311613.29  new york   152211.77
9   123334.8800       108679.17         304981.62  califomia  149759.96
10  101913.0800       110594.11         229160.95    florida  146121.95
11  100671.9600        91790.61         249744.55  califomia  144259.40
12   93863.7500       127320.38         249837.44    florida  141585.52
13   91992.3900       135495.07         252664.93  califomia  134307.35
14  119943.2400       156547.42         256512.92    florida  132602.65
15  114523.6100       122616.84         261776.23  new york   129917.04
16   78013.1100       121597.55         264346.06  califomia  126992.93
17   94657.1600       145077.58         282574.31  new york   125370.37
18   91749.1600       114175.79         294919.57  califomia  124266.90
19   86419.7000       153514.11              0.00  new york   122776.86
20   76253.8600       113867.30         298664.47  califomia  118474.03
21   78389.4700       153773.43         299737.29  new york   111313.02
22   73994.5600       122782.75         303319.26    florida  110352.25
23   67532.5300       105751.03         304768.73    florida  108733.99
24   77044.0100        99281.34         140574.81  new york   108552.04
25   64664.7100       139553.16         137962.62  califomia  107404.34
26   75328.8700       144135.98         134050.07    florida  105733.54
27   72107.6000       127864.55         353183.81  new york   105008.31
28   66051.5200       182645.56         118148.20    florida  103282.38
29   65605.4800       153032.06         107138.38  new york   101004.64
30   61994.4800       115641.28          91131.24    florida   99937.59
31   61136.3800       152701.92          88218.23  new york    97483.56
32   63408.8600       129219.61          46085.25  califomia   97427.84
33   55493.9500       103057.49         214634.81    florida   96778.92
34   46426.0700       157693.92         210797.67  califomia   96712.80
35   46014.0200        85047.44         205517.64  new york    96479.51
36   28663.7600       127056.21         201126.82    florida   90708.19
37   44069.9500        51283.14         197029.42  califomia   89949.14
38   20229.5900        65947.93         185265.10  new york    81229.06
39   38558.5100        82982.09         174999.30  califomia   81005.76
40   28754.3300       118546.05         172795.67  califomia   78239.91
41   27892.9200        84710.77         164470.71    florida   77798.83
42   23640.9300        96189.63         148001.11  califomia   71498.49
43   15505.7300       127382.30          35534.17  new york    69758.98
44   22177.7400       154806.14          28334.72    florida   65200.33
45    1000.2300       124153.04           1903.93  califomia   64926.08
46    1315.4600       115816.21         297114.46  new york    49490.75
47       0.0000       135426.92              0.00  califomia   42559.73
48     542.0500        51743.15              0.00  new york    35673.52
49       0.0000       116983.80          45173.06  califomia   14681.40

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,R &D spend,Administration,Marketing spend,Profit,State_florida,State_new york
0,165349.2162,136897.80,471784.10,192261.83,False,True
1,162597.7000,151377.59,443898.53,191792.06,False,False
2,153441.5100,101145.55,407934.54,191050.39,True,False
3,144372.4100,118671.85,383199.62,182901.99,False,True
4,142107.3400,91391.77,366168.42,166187.94,True,False
5,131876.9000,99814.71,362861.36,156991.12,False,True
6,134615.4600,147198.87,127716.82,156122.51,False,False
7,130298.1300,145530.06,323876.68,155752.60,True,False
8,120542.5200,148718.95,311613.29,152211.77,False,True
9,123334.8800,108679.17,304981.62,149759.96,False,False
10,101913.0800,110594.11,229160.95,146121.95,True,False
11,100671.9600,91790.61,249744.55,144259.40,False,False
12,93863.7500,127320.38,249837.44,141585.52,True,False
13,91992.3900,135495.07,252664.93,134307.35,False,False
14,119943.2400,156547.42,256512.92,132602.65,True,False
15,114523.6100,122616.84,261776.23,129917.04,False,True
16,78013.1100,121597.55,264346.06,126992.93,False,False
17,94657.1600,145077.58,282574.31,125370.37,False,True
18,91749.1600,114175.79,294919.57,124266.90,False,False
19,86419.7000,153514.11,0.00,122776.86,False,True
20,76253.8600,113867.30,298664.47,118474.03,False,False
21,78389.4700,153773.43,299737.29,111313.02,False,True
22,73994.5600,122782.75,303319.26,110352.25,True,False
23,67532.5300,105751.03,304768.73,108733.99,True,False
24,77044.0100,99281.34,140574.81,108552.04,False,True
25,64664.7100,139553.16,137962.62,107404.34,False,False
26,75328.8700,144135.98,134050.07,105733.54,True,False
27,72107.6000,127864.55,353183.81,105008.31,False,True
28,66051.5200,182645.56,118148.20,103282.38,True,False
29,65605.4800,153032.06,107138.38,101004.64,False,True
30,61994.4800,115641.28,91131.24,99937.59,True,False
31,61136.3800,152701.92,88218.23,97483.56,False,True
32,63408.8600,129219.61,46085.25,97427.84,False,False
33,55493.9500,103057.49,214634.81,96778.92,True,False
34,46426.0700,157693.92,210797.67,96712.80,False,False
35,46014.0200,85047.44,205517.64,96479.51,False,True
36,28663.7600,127056.21,201126.82,90708.19,True,False
37,44069.9500,51283.14,197029.42,89949.14,False,False
38,20229.5900,65947.93,185265.10,81229.06,False,True
39,38558.5100,82982.09,174999.30,81005.76,False,False
40,28754.3300,118546.05,172795.67,78239.91,False,False
41,27892.9200,84710.77,164470.71,77798.83,True,False
42,23640.9300,96189.63,148001.11,71498.49,False,False
43,15505.7300,127382.30,35534.17,69758.98,False,True
44,22177.7400,154806.14,28334.72,65200.33,True,False
45,1000.2300,124153.04,1903.93,64926.08,False,False
46,1315.4600,115816.21,297114.46,49490.75,False,True
47,0.0000,135426.92,0.00,42559.73,False,False
48,542.0500,51743.15,0.00,35673.52,False,True
49,0.0000,116983.80,45173.06,14681.40,False,False

In [4]:
dataset.columns

Index(['R &D spend', 'Administration', 'Marketing spend ', 'Profit',
       'State_florida', 'State_new york '],
      dtype='object')

In [5]:
independent=dataset[['R &D spend', 'Administration', 'Marketing spend ','State_florida', 'State_new york ']]
independent

,R &D spend,Administration,Marketing spend,State_florida,State_new york
0,165349.2162,136897.80,471784.10,False,True
1,162597.7000,151377.59,443898.53,False,False
2,153441.5100,101145.55,407934.54,True,False
3,144372.4100,118671.85,383199.62,False,True
4,142107.3400,91391.77,366168.42,True,False
5,131876.9000,99814.71,362861.36,False,True
6,134615.4600,147198.87,127716.82,False,False
7,130298.1300,145530.06,323876.68,True,False
8,120542.5200,148718.95,311613.29,False,True
9,123334.8800,108679.17,304981.62,False,False
10,101913.0800,110594.11,229160.95,True,False
11,100671.9600,91790.61,249744.55,False,False
12,93863.7500,127320.38,249837.44,True,False
13,91992.3900,135495.07,252664.93,False,False
14,119943.2400,156547.42,256512.92,True,False
15,114523.6100,122616.84,261776.23,False,True
16,78013.1100,121597.55,264346.06,False,False
17,94657.1600,145077.58,282574.31,False,True
18,91749.1600,114175.79,294919.57,False,False
19,86419.7000,153514.11,0.00,False,True
20,76253.8600,113867.30,298664.47,False,False
21,78389.4700,153773.43,299737.29,False,True
22,73994.5600,122782.75,303319.26,True,False
23,67532.5300,105751.03,304768.73,True,False
24,77044.0100,99281.34,140574.81,False,True
25,64664.7100,139553.16,137962.62,False,False
26,75328.8700,144135.98,134050.07,True,False
27,72107.6000,127864.55,353183.81,False,True
28,66051.5200,182645.56,118148.20,True,False
29,65605.4800,153032.06,107138.38,False,True
30,61994.4800,115641.28,91131.24,True,False
31,61136.3800,152701.92,88218.23,False,True
32,63408.8600,129219.61,46085.25,False,False
33,55493.9500,103057.49,214634.81,True,False
34,46426.0700,157693.92,210797.67,False,False
35,46014.0200,85047.44,205517.64,False,True
36,28663.7600,127056.21,201126.82,True,False
37,44069.9500,51283.14,197029.42,False,False
38,20229.5900,65947.93,185265.10,False,True
39,38558.5100,82982.09,174999.30,False,False
40,28754.3300,118546.05,172795.67,False,False
41,27892.9200,84710.77,164470.71,True,False
42,23640.9300,96189.63,148001.11,False,False
43,15505.7300,127382.30,35534.17,False,True
44,22177.7400,154806.14,28334.72,True,False
45,1000.2300,124153.04,1903.93,False,False
46,1315.4600,115816.21,297114.46,False,True
47,0.0000,135426.92,0.00,False,False
48,542.0500,51743.15,0.00,False,True
49,0.0000,116983.80,45173.06,False,False

In [6]:
dependent=dataset[['Profit']]
dependent

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.52
49   14681.40

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(criterion="log_loss")
regressor.fit(X_train,y_train)

InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'squared_error', 'friedman_mse', 'absolute_error'}. Got 'log_loss' instead.

In [ ]:
y_pred=regressor.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
r2score=r2_score(y_pred,y_test)
r2score

In [ ]:
import pickle
filename="finale_model_randomforest.sav"

In [ ]:
pickle.dump(regressor,open(filename,"wb"))

In [ ]:
load_model=pickle.load(open("finale_model_randomforest.sav","rb"))
result=load_model.predict([[9541236,15485486,2648512,0,1]])
result